form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

form > div {
  display: flex;
  flex-direction: column;
}

form > div > *:not(label) {
  padding: 7px;
}

select > option {
  padding: 10px;
}

button.button-success {
  padding: 10px;
  color: white;
  background-color: green;
  width: 100%;

  &:disabled {
    background-color: gray;
    color: rgba(255,255,255,0.5);
  }
}

button.button-warning {
  padding: 10px;
  color: #3C3C3C;
  font-weight: bold;
  background-color: gold;
  width: 100%;
  display: flex;
  align-items: center;

  &:disabled {
    background-color: gray;
    color: rgba(255,255,255,0.5);
  }

  > i {
    margin-right: 10px;
    transform: scale(1.25);
  }
}

button.button-danger {
  padding: 10px;
  color: black;
  font-weight: bold;
  background-color: #FF8488;
  width: 100%;
  display: flex;
  align-items: center;

  &:disabled {
    background-color: gray;
    color: rgba(255,255,255,0.5);
  }

  > i {
    margin-right: 10px;
    transform: scale(1.25);
  }
}

button.button-default {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;

  &:disabled {
    background-color: gray;
    color: rgba(255,255,255,0.5);
  }

  > i {
    margin-right: 10px;
    transform: scale(1.25);
  }
}

button.button-sm {
  padding: 5px;
  width: auto;
}

.modal input {
  width: 100%;
  padding: 7px;
}

table td {
  vertical-align: middle;
}

button#addUser {
  width: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;

  > i {
    margin-right: 10px;
    transform: scale(1.25);
  }
}
