<div #modal id="modal" class="modal fade">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{getFormToShow()}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="formToShow == 3">
          ¿Eliminar usuario?
          <button class="button-danger" (click)="deleteUser(userIdForDeletion)"><i class="fa fa-trash"></i> Confirmar</button>
        </div>
        <form *ngIf="formToShow == 2">
          <p class="alert alert-danger" *ngIf="changeUserPasswordFormError">{{changeUserPasswordFormError}}</p>
          <input type="hidden" id="userId" [value]="changePasswordForm.user_id">
          <label for="password" class="form-label">Nueva contraseña</label>
          <input type="password" class="w-100" id="password" [value]="changePasswordForm.password" (change)="changePasswordForm.changePassword($event)">
          <button type="submit" class="w-100 mt-2" (click)="changeUserPassword(changePasswordForm.user_id)">Cambiar contraseña</button>
        </form>
        <form *ngIf="formToShow == 1">
          <h1>Registrar usuario nuevo</h1>
          <p class="alert alert-danger" *ngIf="registerUserFormError">{{registerUserFormError}}</p>
          <div class="mb-3">
            <label for="name" class="form-label">Nombre operador</label>
            <input type="text" [value]="name" (change)="changeName($event)" id="name">
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Apellidos</label>
            <input type="text" [value]="lastName" (change)="changeLastName($event)" id="lastName">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" [value]="email" (change)="changeEmail($event)" id="email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" [value]="password" (change)="changePassword($event)" id="password">
          </div>
          <div class="mb-3">
            <label for="role" class="form-label">Rol</label>
            <select id="role" (change)="changeRole($event)">
              <option *ngFor="let rol of removeFirstOptionFromRolesArray(roles); index as i" [selected]="role == i + 1" [value]="i + 1">
                {{rol}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="designation" class="form-label">Designación</label>
            <select id="designation" (change)="changeSelectedDesignation($event)">
              <option *ngFor="let designation of designations; index as i" [selected]="selectedDesignation == i" [value]="i">
                {{designation}}</option>
            </select>
          </div>
          <button type="submit" class="button-success w-100 mt-4" (click)="addUser()">Anadir</button>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>


<p class="alert alert-danger" *ngIf="error">{{error}}</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Designation</th>
      <th scope="col">Password</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.email}}</td>
      <td>{{getRole(user.role_id)}}</td>
      <td>{{getDesignation(user.designation_id)}}</td>
      <td><button data-bs-toggle="modal" data-bs-target="#modal" class="button-warning button-sm" (click)="changePasswordForm.setUserId(user.id); changeFormToShow(2)"><i class="fa-solid fa-key"></i> Cambiar contraseña</button></td>
      <td><button class="button-danger button-sm" data-bs-toggle="modal" data-bs-target="#modal" (click)="changeFormToShow(3); changeUserIdForDeletion(user.id)"><i class="fa-regular fa-trash-can"></i> Eliminar</button></td>
    </tr>
  </tbody>
</table>

<button class="button-success" id="addUser" data-bs-toggle="modal" data-bs-target="#modal" (click)="changeFormToShow(1)"><i class="fa-solid fa-plus"></i> Anadir</button>
