<nav>
    <a routerLink="/home" routerLinkActive="active"><i class="fa-solid fa-house"></i></a>
    <a routerLink="/trips" routerLinkActive="active"><i class="fa-solid fa-calendar-days"></i></a>
    <a routerLink="/refuel" routerLinkActive="active"><i class="fa-solid fa-gas-pump"></i></a>
    <a routerLink="/bills" routerLinkActive="active"><i class="fa-solid fa-file-invoice"></i></a>
    <a routerLink="/settings" routerLinkActive="active"><i class="fa-solid fa-gear"></i></a>
    <button (click)="onLogout($event)"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
</nav>