<div #modal id="modal" class="modal fade">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{modalDate | date: 'dd/MM/yyyy'}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="alert d-flex" [class.alert-danger]="entry.cantidad < 0" [class.alert-success]="entry.cantidad > 0"
          *ngFor="let entry of filterEntriesByDay(entries)"><span>{{entry.concepto}}</span> <b
            class="ms-auto">{{entry.cantidad}}€</b></p>
        <form (submit)="addEntry($event)">
          <p class="alert alert-danger" *ngIf="error">{{error}}</p>
          <div class="mb-3">
            <label for="amount" class="form-label">Cantidad €</label>
            <input type="text" [value]="amount" (change)="changeAmount($event)" id="amount" placeholder="100">
          </div>
          <div class="mb-3">
            <label for="concept" class="form-label">Concepto</label>
            <input type="text" id="concept" [value]="concept" (change)="changeConcept($event)" placeholder="Concepto">
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Categoría</label>
            <select id="category" [value]="0" (change)="changeCategory($event)">
              <option *ngFor="let category of categories; index as i" [value]="i">{{category}}</option>
            </select>
            {{category}}
          </div>
          <button class="button-success" type="submit">+ Añadir</button>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<div class="calendar">
  <h2>{{currentMonth}}</h2>
  <button>Todo</button>
  <button>Categoría 1</button>
  <button>Categoría 2</button>
  <div class="calendar-container">
    <div class="day" *ngFor="let day of daysBeforeCurrent">

    </div>
    <div class="day current" *ngFor="let day of days" data-bs-toggle="modal" data-bs-target="#modal" [id]="day"
      (click)="setModalDate(day)">
      <h4>{{day}}</h4><small class="ms-2">{{getEntriesCount(day)}} entradas</small>
      <b class="eod" [class.green]="getEntriesSum(day) > 0" [class.neutral]="getEntriesSum(day) == 0"
        [class.red]="getEntriesSum(day) < 0">{{getEntriesSum(day)}}€</b>
    </div>
    <div class="day" *ngFor="let day of daysAfterCurrent">

    </div>
  </div>
</div>

<div class="details">
  <div>
    <h2>Total año: <span style="font-weight: bold;" [style.color]="calculateTotal() < 0 ? 'red' : calculateTotal() > 0 ? 'limegreen' : 'gray'">{{calculateTotal()}}€</span></h2>
  </div>
</div>
