div.calendar {
  >div.calendar-container {
    display: flex;
    flex-wrap: wrap;

    div.day {
      width: calc(14.285% - 1px);
      height: 100px;
      outline: 1px solid black;
      border: none;
      position: relative;
      overflow: hidden;
      margin: 0.5px;

      &.current {
        cursor: pointer;
      }

      &:not(.current) {
        background-color: gray;
      }

      > b {
        display: flex;
        margin: 0 auto;
        justify-content: center;
      }

      > b.green {
        color: limegreen;
      }

      > b.red {
        color: red;
      }

      > b.neutral {
        color: gray;
      }

      > h4 {
        color: black;
        background-color: silver;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        height: 25px;
      }

      >button.add {
        width: 100%;
        height: 30px;
        background-color: green;
        color: white;
        border: none;
        outline: none;
        position: absolute;
        display: none;
        top: 70px;
      }
    }
  }
}

.modal input, .modal select {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  padding: 5px;
}

.modal form {
  width: 200px;
  margin: 0 auto;
}

button.button-success {
  padding: 10px;
  color: white;
  background-color: green;
  width: 100%;

  &:disabled {
    background-color: gray;
    color: rgba(255,255,255,0.5);
  }
}

.modal div.category-container {
  padding: 5px;
  border-bottom: 1px solid black;
}

div.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

div.loading div.spinner {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3c3c3c;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
