<div #modal id="modal" class="modal fade">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{modalDate | date: 'dd/MM/yyyy'}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" id="date">
            <button #closeButton type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-warning" type="submit">Save changes</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<div class="calendar">
  <h2>{{currentMonth}}</h2>
  <div class="calendar-container">
    <div class="day" *ngFor="let day of daysBeforeCurrent">

    </div>
    <div class="day current" *ngFor="let day of days" data-bs-toggle="modal" data-bs-target="#modal" [id]="day" (click)="setModalDate(day)">
      <h4>{{day}}</h4><small class="ms-2">4 entradas</small>
      <b class="eod" [class.green]="eod > 0" [class.neutral]="eod == 0" [class.red]="eod < 0">{{eod}}€</b>
    </div>
    <div class="day" *ngFor="let day of daysAfterCurrent">

    </div>
  </div>
</div>
